* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ////////// */
/* ETIQUETAS */
/* //////// */

div[class*="col"] {
    /* border: 1px solid black; */
    color: #070fab;
}



/* /////// */
/* CLASES */
/* ///// */


.high-text {
    font-size: 55px;
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#navegador .active {
    background-color: blue;
    color: white;
    
}

.col-4 button {
    display: block;
    margin: 0 auto;
}

.card {
    margin-top: 34px;
    margin-bottom: 34px;
    box-shadow: 0 4px 8px #ff8bff4d;
    border: 1.8px solid #ff8bff;
    padding-left: 21px;
    padding-right: 21px;
    border-radius: 13px;
}

.card-2 {
    margin-top: 34px;
    margin-bottom: 34px;
    /* box-shadow: 0 4px 8px #ff8bff4d; */
    border: 1.8px solid #ff8bff;
    padding-left: 21px;
    padding-right: 21px;
    border-radius: 13px;
    padding-top: 21px;
    padding-bottom: 21px;
}

.back-index {
    font-weight: bold;
}

.ego_deactive {
    background-color: #ffe7ff;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.ego_active {
    background-color: #ff8bff;
    border-radius: 5px;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Añadido: Estilo para inputs con error */
.input-error {
    border: 2px solid red;
}

.error-validacion {
    color: red;
}

.sugerencia {
    color: rgb(175, 175, 175);
}

.fecha-nacimiento {
    display: flex;
    gap: 10px; /* Espacio entre los selects */
}

.fecha-nacimiento select {
    width: auto;
    flex: 1; /* Ajusta el tamaño de cada select */
}

.footer-text {
    text-align: center;
    color: #070fab;
}

.footer-bg {
    background-color: #ffe7ff;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.c-bg {
    background-color: #ff8bff;
}

.cerrar-serion {
    margin-top: 13px;
    text-align: right;
}

.btn-bg {
    background-color: #070fab;
}

.btn-largo {
    padding-left: 55px;
    padding-right: 55px;
}